*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 105px;
  background: white;
  top: 0;
  position: fixed;
  z-index: 1;
}
.header-logo{
  margin-left: 5px;
  position: absolute;
  margin-top: 3px;
}
a{
  text-decoration: none;
  color: #313131;
  text-align: center;
}
li{
  display: inline-block;
  padding: 15px 35px;
  margin-top: 28px;
  margin-right: 20px;
  border-radius: 5px;
  background: #319be2;
  float: right;
}
li:hover{
  background: #078ce6;
}
.active{
  background: #078ce6;
}
body {
  overflow: hidden;
}


/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://cdn.jsdelivr.net/gh/AcmeWebsite2008/websitefiles/load.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
.content{
  background: #fff;
  left: 0;
  margin-top: 105px;
}
.slider {
  width: 1024px;
  height: 512px;
  background-size: cover;
  background: url("1.jpg");
}
@keyframes slide {
  20%{
    background: url("https://cdn.jsdelivr.net/gh/AcmeWebsite2008/websitefiles/1.jpg");
  }
  40%{
    background: url("https://cdn.jsdelivr.net/gh/AcmeWebsite2008/websitefiles/2.jpg");
  }
  60%{
    background: url("https://cdn.jsdelivr.net/gh/AcmeWebsite2008/websitefiles/3.jpg");
  }
  80%{
    background: url("https://cdn.jsdelivr.net/gh/AcmeWebsite2008/websitefiles/4.jpg"); 
  }
  100%{
    background: url("https://cdn.jsdelivr.net/gh/AcmeWebsite2008/websitefiles/1.jpg");
  }
}
.slider.loaded{
  animation: slide 15s infinite;
}
